@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Connection Validator - @DateTimeWrapper.DisplayLocalNow()</title>
</head>
<body>
	<h3>Connection Validator - @DateTimeWrapper.DisplayLocalNow()</h3>

	<div>
		<pre>Connection string: @TempData["connstring"]</pre>
		<pre>Host: @TempData["host"] </pre>
		<pre>Environment: @TempData["environment"]</pre>
		<pre>Anonymous allowed: @TempData["Anonymous"]</pre>
		<pre>IsLocal: @TempData["IsLocal"]</pre>
		<pre>Request Path: @TempData["requestdata"]</></pre>

	</div>

	<div><pre>@TempData["results"]</pre></div>
	<div><pre>Execution Time: @TempData["timer"]</pre></div>
	<div><pre>@TempData["debugger"]</pre></div>

</body>
</html>

